:root {
    --main-color: #FFC832;
    --sub-color: #FFFAE6;
    --background-color: #F5F5F5;
    --tl-color: #F7F7F7;
    --ueuse-color:#f5f5f5;
    --text-color: #252525;
    --subtext-color: #999;
    --link-color: #4e4428;
    --border-color: #EEE;
    /*Darkmode*/
    --dark-sub-color: #181616;
    --dark-background-color: #0c0c0c;
    --dark-subtext-color: #CCC;
    --dark-text-color: #FFF;
}